<section class="bg-light py-5" style="margin-top: 100px;">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-12 col-md-9">
        <h1>Title goes here</h1>
      </div>
      <div class="col-12 col-md-3">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Library</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>
