<div class="container">
  <div class="row gy-2">
    <!-- Sidebar -->
    <section class="col-12 col-md-3">
      <div class="d-grid d-block d-md-none">
        <!-- Toggle button -->
        <button
          class="btn btn-outline-secondary mb-2"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#sidebarSection"
          aria-controls="sidebarSection"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon">Filter</span>
        </button>
      </div>

      <!-- Sorting -->
      <h5 class="text-warning ms-3">Sort</h5>
      <select
        class="form-select my-3"
        (change)="onSortSelected($event.target.value)"
      >
        <option *ngFor="let sort of sortOptions" [value]="sort.value">
          {{ sort.name }}
        </option>
      </select>

      <!-- Filters -->
      <div class="collapse d-md-block" id="sidebarSection">
        <!-- Brands -->
        <h5 class="text-warning ms-3">Brands</h5>
        <ul class="list-group my-3">
          <li
            class="list-group-item"
            *ngFor="let brand of brands"
            [class.active]="brand.id === this.shopParams.brandId"
            [value]="brand.id"
            (click)="onBrandSelected(brand.id)"
            aria-current="true"
          >
            {{ brand.name }}
          </li>
        </ul>

        <!-- Types -->
        <h5 class="text-warning ms-3 mt-3">Types</h5>
        <ul class="list-group my-3">
          <li
            class="list-group-item"
            *ngFor="let type of types"
            [class.active]="type.id === this.shopParams.typeId"
            [value]="type.id"
            (click)="onTypeSelected(type.id)"
            aria-current="true"
          >
            {{ type.name }}
          </li>
        </ul>
      </div>
    </section>

    <!-- Main section -->
    <section class="col-12 col-md-9">
      <!-- Results and Search -->
      <div class="row row-cols-1 row-cols-md-auto g-3 mb-2">
        <!-- Search box -->
        <div class="col ms-lg-auto mt-2 me-2 order-lg-1">
          <input
            type="search"
            class="form-control"
            placeholder="Search"
            aria-label="Search"
          />
        </div>

        <div class="col mt-2 order-lg-2">
          <button class="btn btn-outline-primary me-2">Search</button>
          <button class="btn btn-outline-success">Reset</button>
        </div>

        <!-- Paging header -->
        <div class="col mt-2 order-lg-0">
          <app-paging-header
            [pageNumber]="shopParams.pageNumber"
            [pageSize]="shopParams.pageSize"
            [totalCount]="totalCount"
          ></app-paging-header>
        </div>
      </div>

      <!-- Products -->
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col mb-4" *ngFor="let item of products">
          <app-product-item [product]="item"></app-product-item>
        </div>
      </div>

      <!-- Pager -->
      <div class="d-flex justify-content-center">
        <app-pager
          [pageSize]="shopParams.pageSize"
          [totalCount]="totalCount"
          (pageChanged)="onPageChanged($event)"
        ></app-pager>
      </div>
    </section>
  </div>
</div>
