<nav
  class="navbar navbar-expand-lg navbar-light bg-light border-bottom shadow-sm fixed-top"
>
  <!-- Container wrapper -->
  <div class="container">
    <!-- Company logo -->
    <a routerLink="/" class="navbar-brand">
      <img
        src="/assets/images/simtrack-logo.jpg"
        style="max-height: 70px"
        alt="company logo"
      />
    </a>

    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarContent"
      aria-controls="navbarContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarContent">
      <!-- Center buttons -->
      <ul class="navbar-nav ms-auto mt-2 mt-md-0 text-uppercase fs-4">
        <li class="nav-item">
          <a
            class="nav-link me-3 py-2 text-decoration-none"
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            Home
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link me-3 py-2 text-decoration-none"
            routerLink="/shop"
            routerLinkActive="active"
          >
            Shop
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link me-3 py-2 text-decoration-none"
            routerLink="/test-error"
            routerLinkActive="active"
          >
            Errors
          </a>
        </li>
      </ul>

      <!-- Right buttons -->
      <div class="d-flex align-items-center ms-auto mt-2 mt-md-0">
        <a class="position-relative py-2" routerLink="/basket">
          <i class="fa fa-shopping-cart fa-2x me-5 text-dark"></i>
          <div class="cart-no">5</div>
        </a>
        <a class="btn btn-outline-secondary py-2 me-2">Login</a>
        <a class="btn btn-outline-secondary py-2 me-3">Sign Up</a>
      </div>
    </div>
  </div>
</nav>
