<div class="d-flex flex-column flex-md-row align-items-center justify-content-between pb-3 mb-4 border-bottom">
  <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
    <img src="/assets/images/logo.png" style="max-height: 70px;" alt="compnay logo">
    <span class="fs-4">SimTrackUSA</span>
  </a>

  <nav class="d-inline-flex mt-2 mt-md-0">
    <a class="me-3 py-2 text-dark text-decoration-none" href="#">Features</a>
    <a class="me-3 py-2 text-dark text-decoration-none" href="#">Enterprise</a>
    <a class="me-3 py-2 text-dark text-decoration-none" href="#">Support</a>
    <a class="me-3 py-2 text-dark text-decoration-none" href="#">Pricing</a>
  </nav>

  <div class="d-flex align-items-center">
    <a>
      <i class="fa fa-shopping-cart fa-2x me-5 text-dark"></i>
      <div class="cart-no"></div>
    </a>
    <a class="py-2 btn btn-outline-secondary me-2">Login</a>
    <a class="py-2 btn btn-outline-secondary me-3">Sign Up</a>
  </div>
</div>
